
body {
  font-family: "Montserrat";
  text-align: center;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

p {
  color: #595858;
  font-size: 1.5rem;
}
.profile-image{
  width: 5%;
  position: absolute;
  right: 3rem;
  top:1rem
}

.pink{
  color: #ff4c68;
}





@media all and (max-width: 768px) {

  .profile-image{
    width: 15%;
    position: fixed;
    left: 1rem;
    top:7rem;
  }
}

.project-row{
  padding-top: 30px;
}


.project-box{

  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 10px;
  margin-bottom: 10px;

}
div{
  margin:0;
  padding: 0;
}

.link-button{
  margin-top: 20px;
  margin-bottom: 20px;
}
.new-project{
  border-color: white;
  height:400px;
  border:5px solid;
  border-style: dashed;
  position: relative;
  top: 3.5rem;
  left: 3.5rem;  
}
.new{
  height:600px
}

/* Headings */

.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}
.hidden{
  visibility: hidden;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 600;
}
.info{
  position: relative;
  top:10rem;
  text-align: center;
  left: 10rem;
}
.plus-icon{
  font-size: 5rem;
  position: relative;
  top:9rem;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: white;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
  margin: 10px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat";
  color: white;
  font-weight: 800;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 60%;
  
  position: absolute;
  right: 30%;
  background-color: #ff4c68;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 2rem;
  font-weight: 600;
  color: #ff4c68;
}

.feature-description {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Benefit Section */

#benefit {
  background-color: #ff4c68;
}

.benefit-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 650;
}
.benefit-para{
  font-size: 2rem;
  line-height: 1.5;
  color: white;
}

.dark{
  background-color: rgb(43, 41, 41);
  color: white;
}
.benefit-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.white{
  color: white;
}


/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
  font-size: 2rem;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}


input{
  height: 2rem;
  width:75%;
}
.header{
  background-color: #ff4c68;
  margin: auto;
  padding: 0%;
  width: auto;
}
