<%- include ("partials/signupLoginHeader") -%>

    
    <main class="form-signin w-100 m-auto">
        <form action="/signup" method="post" name="signupform">
          <h1 class=" standout h3 mb-3 fw-normal">Sign Up</h1>
       
      
          
          
          <div class="form-floating">
              <input type="text" id="email" name="email" class="form-control middle"  placeholder="name@example.com" required>
              <label for="email">Email address</label>
            </div>
          <div class="form-floating">
              <input type="password" name="createps" id="createps" class="form-control middle"  placeholder="Create Password" required>
              <label for="createps">Create Password</label>
            </div>
            

            <div class="checkbox mb-3">
                <label>
                  <input type="checkbox"  id="termCon" name="termCon" value="termCon"><span class="white"> I agree to the terms and conditions</span>
                </label>
              </div>
            
      
          
          <button class="w-100 btn btn-lg btn-primary" type="submit">Create Account</button>
        </form>
      </main>
      
      <%- include ("partials/signupLoginFooter") -%>

      
      
